@charset "utf-8";
/* CSS Document */


body {
  background: #fff;
  color: #fff;
  font-weight: 300;
  font-size: 20pt;
}

.menu div {
  margin: 5px;
  text-align: center;
  float: left;
  opacity: 0.3;
  overflow: auto;
  color: white;
  border-radius: 10px;
}
.vinculo { background: #3457B7; }

.vinculo:hover{
    cursor: crosshair ;
    opacity: 0.6;
}

